<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    <% if current_page.data.title %>
      <%= current_page.data.title %> &ndash;
    <% end %>
    <%= settings.site_title %>
  </title>

  <meta name="author" content="<%= settings.author %>" />
  <meta name="description" content="<%= settings.description %>" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/stylesheets/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="<%= settings.gravatar_url %>?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="lname"><%= settings.site_title %></span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/<%= settings.github %>" target="_blank"><img src="/images/github.png" /></a>
      <a href="https://twitter.com/<%= settings.twitter %>" target="_blank"><img src="/images/twitter.png"></a>
      <a href="/atom.xml"><img src="/images/rss.png" /></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/">posts</a></li>
      </ul>
    </section>
  </section>

  <%= yield%>
</body>

</html>